doctype 5
html
	head
		title fgdf
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/app.js')
	body
		block content
