extends layout

block content
		section#main.container-fluid
			section#windows
				#horizontal(style='height: 100%; width: 100%;')
					#contacts-container
						#my-instant-contacts.pane-content
							#my-contacts
								.pane-content
									div.loader-large
										span.icon-spinner.icon-spin.icon-2x
							#available-contacts
								.pane-content
									div.loader-large
										span.icon-spinner.icon-spin.icon-2x
								.pane-content	
									div#contacts-list-footer
										input#contacts-filter (type="text" placeholder="Type something…")
					#chat-window
						#chat-window-header
							#window-menu.pull-right
							h3.pull-left _
							.btn-group.pull-right
								button#chat-actions.btn.dropdown-toggle(data-toggle='dropdown')
									span.icon-cog 
									span.caret
								ul.dropdown-menu
									li
										a(href='#') Block User
									li
										a(href='#') Another action
									li
										a(href='#') Something else here
						#chat-conversation
							p#initial-chat Select a user from the left menu to start a conversation
							div.loader-large
										span.icon-spinner.icon-spin.icon-4x.gray
						#chat-input-window
							#chat-input(contenteditable='true')
					#twitter-feed
						.pane-content#tweet-header
							.pane-content
								h3.pull-left Twitter Feed
								#tweet-menu.pull-right
									.btn-group
										button.btn.active
											span
												.icon-list-alt
										button.btn
											span
												.icon-picture
										button.btn
											span
												.icon-font
								br.clear
							.pane-content
								#media-feed-container
									.media.feed-item
										span.pull-right.chat-item-date 12 dec
										a.pull-left(href='#')
											img.media-object(data-src='holder.js/64x64')
										.media
											a.pull-left(href='#')
												img.media-object(data-src='holder.js/64x64', alt='64x64', src='https://si0.twimg.com/profile_images/3021682822/6542ee4b553546c2fab6a88e0ffe78c3_normal.jpeg')
										.media-body
											a.media-heading(href='#') Media heading
											p Bagaavaaiy ma kuvverikuran #MDP ge Gaumee bodu Hingaalun #mvprotest pic.twitter.com/Kz82WWNP
											div.media-foot
												ul.breadcrumb
													li
														a(href="#") 
															span.icon-comment
															span.divider
													li
														a(href="#") 
															span.icon-group
															span.divider 
													li
														a(href="#")
															span.icon-reply
															span.divider 
													li
														a(href="#")
															span.icon-retweet
															span.divider 
													li
														a(href="#")
															span.icon-star
															span.divider
									.media.feed-item
										span.pull-right.chat-item-date 12 dec
										a.pull-left(href='#')
											img.media-object(data-src='holder.js/64x64')
										.media
											a.pull-left(href='#')
												img.media-object(data-src='holder.js/64x64', alt='64x64', src='https://si0.twimg.com/profile_images/3021682822/6542ee4b553546c2fab6a88e0ffe78c3_normal.jpeg')
										.media-body
											a.media-heading(href='#') Media heading
											p Bagaavaaiy ma kuvverikuran #MDP ge Gaumee bodu Hingaalun #mvprotest pic.twitter.com/Kz82WWNP
											div.media-foot
												ul.breadcrumb
													li
														a(href="#") 
															span.icon-comment
															span.divider
													li
														a(href="#") 
															span.icon-group
															span.divider 
													li
														a(href="#")
															span.icon-reply
															span.divider 
													li
														a(href="#")
															span.icon-retweet
															span.divider 
													li
														a(href="#")
															span.icon-star
															span.divider 
									.media.feed-item
										span.pull-right.chat-item-date 12 dec
										a.pull-left(href='#')
											img.media-object(data-src='holder.js/64x64')
										.media
											a.pull-left(href='#')
												img.media-object(data-src='holder.js/64x64', alt='64x64', src='https://si0.twimg.com/profile_images/3021682822/6542ee4b553546c2fab6a88e0ffe78c3_normal.jpeg')
										.media-body
											a.media-heading(href='#') Media heading
											br
											img(src="https://o.twimg.com/1/proxy.jpg?t=FQQVBBiPAWh0dHA6Ly9yYWNrLjMubXNoY2RuLmNvbS9tZWRpYS9aZ2t5TURFekx6QXlMekkxTDJRMUwzWnZiR3R6ZDJGblpXNXpMams1TmpVeUxtcHdad3B3Q1hSb2RXMWlDVFUyTUhnM05UQUtaUWxxY0djLzgwNjUxOTk4LzQ3YS92b2xrc3dhZ2Vucy14bDEuanBnFAIWABIA&s=40QmVYQiN2SUi-FOOU7mVZeO9gd3v_Su6icijeNtVyE")
											p Bagaavaaiy ma kuvverikuran #MDP ge Gaumee bodu Hingaalun #mvprotest pic.twitter.com/Kz82WWNP
											div.media-foot
												ul.breadcrumb
													li
														a(href="#") 
															span.icon-comment
															span.divider
													li
														a(href="#") 
															span.icon-group
															span.divider 
													li
														a(href="#")
															span.icon-reply
															span.divider 
													li
														a(href="#")
															span.icon-retweet
															span.divider 
													li
														a(href="#")
															span.icon-star
															span.divider
									div.loader-large
										span.icon-spinner.icon-spin.icon-4x 
						footer#footer
							.pane-content
								a(href='#tweetModal', role='button', data-toggle='modal') 
									span#new-tweet.icon-plus.btn
								h3 instaTweet
								div#profile-pic
									img.pull-right(src="http://a0.twimg.com/profile_images/3029635725/2ac4ac92b73aa45a05c985d01bb0c05a_normal.jpeg")
									a.pull-right(href="#") Hilarl
									ul#main-nav.breadcrumb.pull-right
													li
														a(href="#") 
															span.icon-home
															span.divider
													li
														a(href="#") 
															span.icon-comments
															span.divider 
													li
														a(href="#")
															span.icon-group
															span.divider 
													li
														a(href="#")
															span.icon-cog
															span.divider 
													li
														a(href="logout/")
															span.icon-off
															span.divider
					
