extends layout

block content
		section#main-container
			#window-container
				#contacts-list
					.media.user-list-item
						a.pull-left(href='#')
							img.media-object(data-src='holder.js/64x64')
						.media
							a.pull-left(href='#')
								img.media-object(data-src='holder.js/64x64', alt='64x64', style='width: 64px; height: 64px;', src='https://si0.twimg.com/profile_images/1478919095/converse_normal.png')
						.media-body
							a.media-heading(href='#') Media heading
							br
							| @username
						br.clear
					.media.user-list-item
						a.pull-left(href='#')
							img.media-object(data-src='holder.js/64x64')
						.media
							a.pull-left(href='#')
								img.media-object(data-src='holder.js/64x64', alt='64x64', style='width: 64px; height: 64px;', src='https://si0.twimg.com/profile_images/1478919095/converse_normal.png')
						.media-body
							a.media-heading(href='#') Media heading
							br
							| @username
						br.clear
				#chat-window
					div#chat-window-header
						h3.pull-left Cog
						button.btn.pull-right add
					div#chat-window-container
				#chat-input
					#chat-input-field(contentEditable="true")
				#tweet-feed
					h3 Twitter Feed
					.media.feed-item
						a.pull-left(href='#')
							img.media-object(data-src='holder.js/64x64')
						.media
							a.pull-left(href='#')
								img.media-object(data-src='holder.js/64x64', alt='64x64', src='https://si0.twimg.com/profile_images/3021682822/6542ee4b553546c2fab6a88e0ffe78c3_normal.jpeg')
						.media-body
							a.media-heading(href='#') Media heading
							br
							p Bagaavaaiy ma kuvverikuran #MDP ge Gaumee bodu Hingaalun #mvprotest pic.twitter.com/Kz82WWNP
					.media.feed-item
						a.pull-left(href='#')
							img.media-object(data-src='holder.js/64x64')
						.media
							a.pull-left(href='#')
								img.media-object(data-src='holder.js/64x64', alt='64x64', src='https://si0.twimg.com/profile_images/3021682822/6542ee4b553546c2fab6a88e0ffe78c3_normal.jpeg')
						.media-body
							a.media-heading(href='#') Media heading
							br
							p Bagaavaaiy ma kuvverikuran #MDP ge Gaumee bodu Hingaalun #mvprotest pic.twitter.com/Kz82WWNP

