body {
	background: #272727;
	margin-top: 2px;
}

.btn, .dropdown-menu {
	border-radius: 0!important;
}

.breadcrumb {
	background: none;
	margin: 0 0 0;
	padding : 0px 5px;
}

.breadcrumb a {
	font-weight: normal!important;
}

.breadcrumb li {
	margin-right: 15px;
}

#main-container {
	position: fixed;
	width: 100%;
	height: 100%;	
}

#window-container {
	position: relative;
	width: 100%;
	height: 92%;
	background: #F9F9F9;
}

#contact-container {
	position: relative;
}

#contacts-list {
	background: #rgb(254,254,254);
	position: absolute;
	left: 0;
	height: 100%;
	width: 22%;
	border-right: 1px solid #eee;
	overflow: auto;
}

#chat-window {
	position: absolute;
	padding: 10px;
	left: 22.1%;
	width: 43.4%;
	height: 80%;
	background: white;
	border-right: 1px solid #eee;
	padding-top: 60px;
}

#chat-window-container {
	position: absolute;
	width: 97%;
	overflow: auto;
	height: 79%;
}

#chat-window-header {
	position: fixed;
	z-index: 4000;
	width: 44.8%;
	left: 22.1%;
	top: 2px;
	border-bottom: 1px solid #eee;
}

#tweet-header h3 {
	margin-left: 10px;
	font-size: 16px;
}

#window-menu {
	margin-right: 20px;
	margin-top: 15px;
}

#tweet-menu {
	margin-right: 20px;
	margin-top: 15px;
}

#chat-input {
	position: absolute;
	bottom: 0;
	left: 22.1%;
	width: 44.8%;
	height: 120px;
	background: white;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
}

#tweet-feed {
	position: absolute;
	width: 33%;
	height: 100%;
	right: 0;
}

#tweet-filter.dropdown-menu {
	right: 0px!important;
	left: -120%;
}

#tweet-header {
	width: 100%;
	position: absolute;
}

#media-feed-container {
	margin-top: 60px;
}

.chat-bubble-arrow {
  border-color: transparent #F5F5F5 transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom: 20px;
  left:-20px;
}

.feed-item {
	position: relative;
	border: 1px solid #eee;
	box-shadow: 0 1px 0 rgba(101,101,101,.1);
	margin: 10px;
	padding-top: 10px;
	background: white;
}

.feed-item img {
	margin-right: 10px;
	margin-top: 5px;
}

.feed-item a {
	font-weight: bold;
	font-size: 12px;
}

.feed-item p {
	font-size: 12px;
	margin-bottom: 0;
}

.chat-item {
	position: relative;
	margin: 10px;
	padding: 5px;
	background: #F5F5F5;
	margin-top: 10px;
}

.chat-item img {
	margin-right: 10px;
	margin-top: 5px;
}

.chat-item a {
	font-weight: bold;
	font-size: 12px;
}

.chat-item p {
	font-size: 12px;
	margin-bottom: 0;
}

.user-list-item {
	font-size: 12px;
	padding: 5px;
	padding-bottom: 10px;
	color: #999;
	border-bottom: 1px solid #eee;
	overflow: auto;
}

.user-invisible-link {
	display: none;
}

.user-list-item img {
	margin-right: 10px;
}

.user-list-item:hover {
	background: rgb(253,253,253);
	cursor: pointer;
}

.user-list-item a:link, .user-list-item a:visited {
	color: #666!important;
	font-weight: bold;
}

.active-user, .active-user:hover {
	background: #008DDE;
	border-right: white;
	color: white;
}

.active-user a:link, .active-user a:visited {
	color: white!important;
}

#chat-window-header h3 {
	margin-left: 20px;
	font-size: 20px;
	font-weight: normal;
}

#chat-input-field {
	width: 97%;
	height: 60px;
	margin: 10px;
	border: 1px solid #eee;
}

.chat-item-date {
	color: #bbb;
	font-size: 12px;
	margin-right: 10px;
}

#contacts-list-footer {
	position: fixed;
	bottom: 7.7%;
	width: 22%;
	border-top: 1px solid #eee;
	padding: 10px;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1); 
}

.media-foot {
	border-top: 1px solid #eee;
	background-image: -webkit-linear-gradient(top,white,#f7f7f7);
	padding: 5px;
	margin-top: 10px;
}

#contacts-filter {
	width: 92%;
	background: rgba(250,250,250, .9);
	border: 1px solid #ddd;
}

#media-feed-container {
	height: 91%;
	overflow: auto;
}

#contact-list-options {
	border-right: 1px solid #e9e9e9;
	height: 60px;
	border-bottom: 1px solid #eee;
}

a.button-twitter {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 1px #999;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin: 0 20px 20px 0;
    padding: 20px 35px;
    text-align: center;
    width: 300px;
}

a.button-twitter {
    background-color: #0081ce; /* fallback color */
    background: -moz-linear-gradient(top, #00aced, #0081ce);
    background: -ms-linear-gradient(top, #00aced, #0081ce);
    background: -webkit-linear-gradient(top, #00aced, #0081ce);
    border: 1px solid #0081ce;
    text-shadow: 0 -1px -1px #005ea3;
}

a.button-twitter:hover {
    background: -moz-linear-gradient(top, #0081ce, #00aced);
    background: -ms-linear-gradient(top, #0081ce, #00aced);
    background: -webkit-linear-gradient(top, #0081ce, #00aced);
    text-decoration: none;
}

#login {
	width: 375px;
	margin: auto;
	margin-top: 200px;
}